<!doctype html>
<html lang='en'>
  <head>
    <title>{{config.name}} – {{config.description}}</title>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,600|Damion|Sriracha'>
    <link rel='stylesheet' href='/tachyons.min.css' charset='utf-8' />
    <link rel='stylesheet' href='/style.css{{hashes.style}}' charset='utf-8' />
    <link rel='search' href='/opensearch.xml' title='{{config.name}}' type='application/opensearchdescription+xml'>
  <body class='body-font white f5 fw3 bg-black-90 ma0 pa0 overflow-y-scroll'>
    <script>
      console.time('render')
      console.time('load')
      window.initialStore = {{{ initialStore }}}
    </script>
    <script src='/bundle.js{{hashes.bundle}}'></script>
    <script async src='https://www.youtube.com/iframe_api'></script>
    <script>
      /* global ga */
      window.ga = window.ga || function () {
        (ga.q = ga.q || []).push(arguments)
      }
      ga.l = Date.now()
      ga('create', 'UA-3898076-22', 'auto')
      ga('send', 'pageview')
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
  </body>
</html>
