<!doctype html>
<html lang='en'>
  <head>
    <title>{{config.name}} – {{config.description}}</title>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Damion|Muli|Sriracha'>
    <link rel='stylesheet' href='/tachyons.min.css' charset='utf-8' />
    <link rel='stylesheet' href='/style.css' charset='utf-8' />
  <body class='body-font white f5 bg-black-90 ma0 pa0 overflow-y-scroll'>
    <script>
      console.time('render')
      console.time('load')
      window.initialStore = {{{ initialStore }}}
    </script>
    <script async src='https://www.youtube.com/iframe_api'></script>
    <script async src='/bundle.js'></script>
  </body>
</html>
