/**
 * Table of Styles
 * http://tachyons.io/docs/table-of-styles/
 *
 * Table of Properties
 * http://tachyons.io/docs/table-of-properties/
 */

/**
 * Custom font faces
 */
body {
  font-family: 'Varela Round', sans-serif;
}
#logo {
  font-family: 'Bungee Shade', sans-serif;
}

.grow {
  transition:transform 0.15s ease-out;
}

.grow:active {
  transform: scale(.90);
  transition:transform 0.1s ease-out;
}

.text-outline {
  text-shadow:
    -1px -1px 5px rgba(0, 0, 0, 0.15),
    1px -1px 5px rgba(0, 0, 0, 0.15),
    -1px 1px 5px rgba(0, 0, 0, 0.15),
    1px 1px 5px rgba(0, 0, 0, 0.15);
}

/* Smaller max-width 9 */
.mw9 {
  max-width: 70rem
}
