/**
 * Table of Styles
 * http://tachyons.io/docs/table-of-styles/
 *
 * Table of Properties
 * http://tachyons.io/docs/table-of-properties/
 */

/**
 * Custom font faces
 */
body {
  font-family: 'Varela Round', sans-serif;
}
#logo {
  font-family: 'Bungee Shade', sans-serif;
}

/* Perfectly position content sheet below the header bar */
.content-sheet {
  margin-top: 100px;
}

.grow {
  transition:transform 0.15s ease-out;
}

.grow:active {
  transform: scale(.90);
  transition:transform 0.1s ease-out;
}

.text-outline {
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
